@import url('https://fonts.googleapis.com/css2?family=Marck+Script&display=swap');

.App {
  text-align: center;
}

.spin {
  animation: App-logo-spin infinite .3s linear;
}

.detailPoke {
  border: 3px solid black;
  max-width: 450px;
  text-align: center;
  margin-top: 5%;
  margin-left: 30%;
  margin-right: 30%;
  font-family: 'Marck Script', cursive;
  font-size: large;
}


header {
  background-color: goldenrod;
  text-align: center;
  font-size: xx-large;
  font-weight: bolder;
  font-family: 'Marck Script', cursive;
  padding: 20px;
  width: 100%;
}
nav {
  background-color: maroon;
  text-align: center;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'Marck Script', cursive;
  font-weight: bold;
  font-size: large;
}
.searchBar {
  background-color: maroon;
  text-align: center;
  color: white;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  float: left;
  padding-left: 1%;
  padding-right: 1%;
  height: 3000px;
}

input, select, button {
  max-width: 150px;
  border: solid 3px grey;
  border-radius: 5px;
  padding: 5px;
  margin: 4px;
  font-family: 'Marck Script', cursive;
}
img {
  width: 200px;
  height: 200px;
  filter: drop-shadow(5px 10px 15px rgb(99, 97, 96));
}
.pdex {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  margin-top: 3%;
  margin-right: 10%;
  margin-left: 10%;
  font-family: 'Marck Script', cursive;
  font-size: larger;
}